.fine-table-admin {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
  }
  
  .fine-table-admin th,
  .fine-table-admin td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .fine-table-admin th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .fine-table-admin td {
    border-bottom: 1px solid #ddd;
  }
  
  .fine-table-admin td img {
    width: 80px;
    height: auto;
  }
  
  .fine-table-admin-header {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    font-variant: all-small-caps;
  }
  
  @media screen and (max-width: 768px) {
    .fine-table-admin th,
    .fine-table-admin td {
      padding: 4px;
      font-size: 12px;
    }
  
    .fine-table-admin td img {
      max-width: 80px;
    }
  }
  
  .fine-table-admin-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    margin: 0 auto;
    max-width: 500px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
  }
  
  .fine-table-admin-label {
    font-weight: bold;
  }

  #fineUserEmailInput {
    width: 60%;
  }
  
  .fine-table-admin-input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .error {
    padding-bottom: 15px;
    padding-top: 35px;
    text-align: center;
    font-size: 20px;

    /* padding: 20px;
    margin-top: 50px;
    height: 40px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: 20px; */
    /* background-color: #f2f2f2; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    /* margin-bottom: 20px; */
  }
  
  #myButtonFine {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }