
.fine-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .fine-table th {
    background-color: #ddd;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  
  .fine-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  .fine-table img {
    height: 100px;
    width: auto;
  }

  .fine-table-header {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #fine-table-total-fine {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
 }
 
 #fine-table-total-fine-number {
  font-weight: bold;
}

 .green-check-red-cross {
  color: red;
}

.green-check-red-cross .fa-check {
  color: green;
}
  
  @media (max-width: 600px) {
    .fine-table th {
      font-size: 14px;
      padding: 6px;
    }
   
    .fine-table td {
      font-size: 14px;
      padding: 6px;
    }
    
    .fine-table img {
      height: 80px;
    }  
  }
  