.activity-table-admin {
    border-collapse: collapse;
    width: 95%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .activity-table-admin th,
  .activity-table-admin td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .activity-table-admin th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-size-adjust: 0.5;
  }
  
  .activity-table-admin td {
    border-bottom: 1px solid #ddd;
  }
  
  .activity-table-admin td img {
    width: 80px;
    height: auto;
  }
  
  .activity-table-admin-header {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    font-variant: all-small-caps;
  }
  
  @media screen and (max-width: 768px) {
    .activity-table-admin th,
    .activity-table-admin td {
      padding: 4px;
      font-size: 12px;
    }
  
    .activity-table-admin td img {
      max-width: 80px;
    }
  }
  
  .activity-table-admin-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 500px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
  }
  
  .activity-table-admin-label {
    font-weight: bold;
  }

  #userEmailInput {
    width: 60%;
  }
  
  .activity-table-admin-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #myButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #myButton:hover {
    background-color: #3e8e41;
  }

  .activity-table-error {
    padding-bottom: 15px;
    padding-top: 35px;
    text-align: center;
    font-size: 20px;
  }
  
  .activity-table-admin button:active {
    background-color: #205eba;
  }

  #approveButton:hover {
    background-color: #3e8e41;
  }
  
  #approveButton:active {
    background-color: #4CAF50;
  }

  #rejectButton:hover {
    background-color: #c5351c;
  }
  
  #rejectButton:active {
    background-color: #c5351c;
  }

  #CheckoutButton:active {
    background-color:  #205eba;
  }

  #CheckoutButton:hover {
    background-color: #04307c;
  }
  
  #ReturnButton:hover {
    background-color: #ecd313;
  }

  #ReturnButton:active {
    background-color:  #baa711;
  }

  #approveButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #rejectButton {
    background-color: #de5b4a; /* Red */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #CheckoutButton {
    background-color: #537fef; /* Blue */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #ReturnButton {
    background-color: #ecd313;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

