.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffe0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .logo-link {
    margin-right: 20px;
  }
  
  .logo {
    width: 60px;
    height: 60px;
  }

  .company-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    text-decoration: none;
    margin-right: auto
  }
  
  
  .menu {
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
  }
  
  .menu-item {
    margin-right: 20px;
  }
  
  .menu-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .menu-link:hover {
    color: #0077c0;
  }
  
  .sign-in-link {
    color: #0077c0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .sign-in-link:hover {
    color: #005ca3;
  }

  .user-dropdown {
    position: relative;
  }

  .user-dropdown-link {
    color: #0077cc;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .user-dropdown-link:hover {
    color: #0077c0;
    cursor: pointer;
  }
  
  .user-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    min-width: 160px;
    padding: 8px 0;
    margin: 4px 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 4px;
  }
   
  .user-dropdown-item:hover {
    background-color: #dcdcd5;
    cursor: pointer;
  }  
  
.user-dropdown-container {
    position: relative;
  }
  
  .user-dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .user-dropdown-content a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
    min-width: 130px;
  } 

  .notifications-dropdown {
    position: relative;
  }

  .notifications-dropdown-link {
    color: #0077cc;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .notifications-dropdown-link:hover {
    color: #0077c0;
    cursor: pointer;
  }
  
  .notifications-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    min-width: 160px;
    padding: 8px 0;
    margin: 4px 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 4px;
  }
  
  .notifications-dropdown-item:hover {
    background-color: #f6f6c5;
    cursor: pointer;
  }  
  
  .notifications-dropdown-container {
    position: relative;
  }
  
  .notifications-dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    min-width: 180px;
  }
  
  .user-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  